repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-added-large-files
      - id: debug-statements
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: forbid-new-submodules
      - id: check-executables-have-shebangs
      - id: check-yaml
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: bash -c "gofmt -w ."
        language: system
        files: \.go$
